* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
    position: relative;
    padding: 0 5%;
  }

  body .back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    /* opacity: 0.75; */
  }

  @media (min-aspect-ratio: 16/9) {
    .back-video {
      width: 100%;
      height: auto;
    }
  }

  @media (max-aspect-ratio: 16/9) {
    .back-video {
      width: auto;
      height: 100%;
    }
  }

  .container {
    max-width: 700px;
    width: 100%;
    background: rgba(255, 255, 255, 0.75);
    position: relative;
    padding: 25px 30px;
    border-radius: 5px;
    animation-name: slideUp;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
  }

  @keyframes slideUp {

    0%,
    50% {
      transform: translateY(100%);
      opacity: 0;
    }

    60%,
    100% {
      transform: translateY(0);
      opacity: 1;

    }
  }

  .container .title {
    font-size: 40px;
    color: black;
    font-weight: 600;
    transition: 0.5s;
    position: relative;
    text-decoration: none;
  }

  .container .title:hover {
    -webkit-text-stroke: 2px black;
    color: transparent;
  }

  .container .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }

  .container form h2 {
    font-size: 18px;
  }

  .container form .form-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }

  form .form-items .input-box {
    margin-bottom: 15px;
    width: calc(100%/2-200px);
  }

  .form-items .input-box label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .form-items .input-box .input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }


  .form-items .input-box .input:focus,
  .form-items .input-box .input:valid {
    border-color: #9b59b6;
  }

  form button {
    height: 8%;
    width: 50%;
    margin-left: 25%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    
  }

  form button:hover {
    background: linear-gradient(135deg, #9b59b6, #71b7e6);
    text-decoration-color: #050505;
  }

  .text-center {
    text-align: center;
  }

  @media (max-width: 584px) {
    .container {
      max-width: 100%;
    }

    form .form-items .input-box {
      margin-bottom: 15px;
      width: 100%;
    }

    .container form .form-items {
      max-height: 300px;
      overflow-y: scroll;
    }
  }